/frontend/node_modules/
/frontend/dist/
/frontend/.vite/
/frontend/.env
.DS_Store

/backend/bin/
/backend/tmp/
/backend/.cache/
/backend/coverage/
/backend/*.test
/backend/*.out
/backend/app
/backend/.env

**/.idea/
**/.vscode/
